# CLion / IntelliJ IDE
.idea/
cmake-build-*/
*.iml
out/

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles/ssh -l yit.kup mlx-stud-02.cs.huji.ac.il
cmake_install.cmake
install_manifest.txt
